<div class="card">
    <div class="card-content">
      <div class="content">
        
        <div class="columns">
          <div class="column"></div>
          <div class="column is-one-third has-text-right x-button">
            <i *ngIf="canDelete" class="fas fa-times fa-2x has-text-danger" (click)="onXButtonClick()"></i>
          </div>
        </div>

        <div (click)="onGoToDetails()">
          <img [src]="image.url" alt="">
        </div>

      </div>
    </div>
    <footer class="card-footer">
     
 
   
        <i 
          [ngClass]="{'far': !isFavorite, 'fas': isFavorite}" 
          class="fa-heart fa-2x card-footer-item has-text-danger" (click)="onFavorite()"></i>
      


          
    
          
    </footer>
</div>